# Node
node_modules/
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Logs
*.log

# VS Code
.vscode/

# Build (if any local output)
.next/
dist/
out/
